        <div class="col-md-4 mb-2">
            <a class="btn btn-primary btn btn-block" href="{% url 'fluxo:adicionar_lancamento' tipo='RECEITA' %}" role="button">Receita</a>
        </div>
        <div class="col-md-4 mb-2">
            <a class="btn btn-danger btn btn-block" href="{% url 'fluxo:adicionar_lancamento' tipo='DESPESA' %}" role="button">Despesa</a>
        </div>
        <div class="col-md-4 mb-2">
            <a class="btn btn-success btn btn-block" href="{% url 'fluxo:transferir'  %}" role="button">Transferir</a>
        </div>

