{% extends 'base.html' %}
{% load static %}
{% block conteudo %}

<!-- Começa o conteúdo da página -->

<main role="main" class="flex-shrink-0">
    <div class="container py-5">
        <div class=" text-left">
            <h5 class="mt-4">{{titulo}}</h5>
        </div>
        <br>
<div class="row">

    {% include "partials/botoes_lancamento.html" %}

<hr class="mb-1">
<h4 class="mb-3 {{ cor }}">{{ tipo }}</h4>
<hr class="mb-4">
<form id="lForm" class="needs-validation" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4 mb-3">
            <fieldset>
                {% for radio in lancamentoForm.situacao %}
                    <label for="{{ radio.id_for_label }}">
                        {{ radio.choice_label }}
                        <span class="radio">{{ radio.tag }}</span>
                    </label>
                {% endfor %}
            </fieldset>
        </div>
        <div class="col-md-2 mb-2">
            <div id="inputField">
                <input type="number" name="parcelas" id="parcelas" class="form-control" placeholder='Parcelas'>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            {{ lancamentoForm.data_lancamento }}
        </div>
        <div class="col-md-3 mb-3">
            {{ lancamentoForm.conta }}
            <div class="invalid-feedback">
                Por favor, escolha uma conta.
            </div>
        </div>
    </div>

    <hr class="mb-2">

    <!-- Bloco FOR itens -->

    {% if editar_lancamento %}

    {% for item in itemForms %}
    <div class="row">
        <div class="col-md-9 mb-3">
            {{ item.descricao }}
            <div class="invalid-feedback">
                Por favor, insira uma descrição.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">{{ simbolo }}</span>
                </div>
                {{ item.valor }}
                <div class="invalid-feedback">
                    Por favor, insira um valor.
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-4">
            {{ item.categoria }}
            <div class="invalid-feedback">
                Por favor, escolha uma categoria válida.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            {{ item.centro_custo_lucro }}
            <div class="invalid-feedback">
                Por favor, insira um valor válido.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            {{ item.forma_pagamento }}
            <div class="invalid-feedback">
                Por favor, insira uma forma de pagamento válida.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            {{ item.fornecedor_cliente }}
            <div class="invalid-feedback">
                Por favor, insira um fornecedor válido.
            </div>
        </div>
        {% if forloop.last and not adiciona_itens %}
            <div class="col-md-2">
                <button type="submit" name="salvar_itens" value="" class="btn btn-light btn-sm btn-block">+ itens</button>
            </div>
        {% endif %}
    </div>

        <hr class="mb-2">

    <!-- Fim Bloco itens -->

    {% endfor %}

    <!-- Bloco adiciona itens -->

    {% else %}

    <div class="row">
        <div class="col-md-9 mb-3">
            {{ itemForm.descricao }}
            <div class="invalid-feedback">
                Por favor, insira uma descrição.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">{{ simbolo }}</span>
                </div>
                {{ itemForm.valor }}
                <div class="invalid-feedback">
                    Por favor, insira um valor.
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-4">
            {{ itemForm.categoria }}
            <div class="invalid-feedback">
                Por favor, escolha uma categoria válida.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            {{ itemForm.centro_custo_lucro }}
            <div class="invalid-feedback">
                Por favor, insira um valor válido.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            {{ itemForm.forma_pagamento }}
            <div class="invalid-feedback">
                Por favor, insira uma forma de pagamento válida.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            {{ itemForm.fornecedor_cliente }}
            <div class="invalid-feedback">
                Por favor, insira um fornecedor válido.
            </div>
        </div>
        <div class="col-md-2">
            <button type="submit" name="salvar_itens" value="" class="btn btn-light btn-sm btn-block">+ itens</button>
        </div>
    </div>

    <hr class="mb-2">

    {% endif %}

    {% if adiciona_itens %}

    <div class="row">
        <div class="col-md-9 mb-3">
            {{ itemForm.descricao }}
            <div class="invalid-feedback">
                Por favor, insira uma descrição.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">{{ simbolo }}</span>
                </div>
                {{ itemForm.valor }}
                <div class="invalid-feedback">
                    Por favor, insira um valor.
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-4">
            {{ itemForm.categoria }}
            <div class="invalid-feedback">
                Por favor, escolha uma categoria válida.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            {{ itemForm.centro_custo_lucro }}
            <div class="invalid-feedback">
                Por favor, insira um valor válido.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            {{ itemForm.forma_pagamento }}
            <div class="invalid-feedback">
                Por favor, insira uma forma de pagamento válida.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            {{ itemForm.fornecedor_cliente }}
            <div class="invalid-feedback">
                Por favor, insira um fornecedor válido.
            </div>
        </div>
        <div class="col-md-2">
            <button type="submit" name="salvar_itens" value="" class="btn btn-light btn-sm btn-block">+ itens</button>
        </div>
    </div>

    <hr class="mb-2">


    {% endif %}

    {% if anexos %}
    <div class="row">
        <div class="col-md-12">
        {% for anexo in anexo_nome %}
            <div><a href="/media/anexos/{{ anexo.nome }}">{{anexo.nome}}</a></div>
        {% endfor %}
        </div>
    </div>
    <br>
    {% endif %}
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="anexos">Anexo</label>
            {{ anexoForm.arquivo }}
        </div>
        <div class="col-md-2">
            <button type="submit" name="salvar_anexo" value="" class="btn btn-light btn-sm btn-block">+ arquivos</button>
        </div>
    </div>

    <hr class="mb-1">

    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="observacoes">Observações</label>
            {{ lancamentoForm.observacoes }}
        </div>
        
        <div class="col-md-3 mb-3">
            {{ lancamentoForm.tipo }}
        </div>
    </div>
    <hr class="mb-1">
    <div class="row">
        <div class="col-md-2 mb-2">
            <button class="btn btn-primary btn-md btn-block" type="submit">Gravar</button>
        </div>
        {% if apagar %}
        <div class="col-md-2 mb-2">
            <button type="submit" name="delete" value="delete" class="btn btn-danger btn-md btn-block" onclick="return confirm('Tem certeza que deseja apagar este lançamento?');">Apagar</button>
        </div>
        {% endif %}
    </div>
    <br>
</form>
</div>
</main>
{% endblock conteudo %}

{% block scripts %}

<script>        
    $('.valor').mask('#.##0,00', {reverse: true});
    $('.telefone').mask('(00) 0 0000-0000');
    $('.estado').mask('AA');
    $('.cpf').mask('000-000.000-00');
    $('.cnpj').mask('00.000.000/0000-00');
    $('.rg').mask('00.000.000-0');
    $('.cep').mask('00000-000');
    $('.dataNascimento').mask('00/00/0000');
    $('.placaCarro').mask('AAA-0000');
    $('.horasMinutos').mask('00:00');
    $('.cartaoCredito').mask('0000 0000 0000 0000');        
</script>

<script>
    document.querySelectorAll('input[name="situacao"]').forEach(function(radio) {
        radio.addEventListener('change', function() {
            var inputField = document.getElementById('inputField');
            if (document.getElementById('id_situacao_1').checked) {
                inputField.style.display = 'block';
            } else {
                inputField.style.display = 'none';
            }
        });
    });
</script>
<script>
    $(document).ready(function() {
        var select2Messages = {
            noResults: function() {
                return "Nenhum resultado encontrado";
            },
            placeholders: {
                id_categoria: "Selecione uma categoria",
                id_conta: "Conta",
                id_centro_custo_lucro: "Centro de custo/lucro",
                id_forma_pagamento: "Forma de pagamento",
                id_fornecedor_cliente: "Selecione um fornecedor/cliente"
            }
        };

        function initializeSelect2(selector, placeholder) {
            $(selector).select2({
                language: select2Messages,
                placeholder: placeholder
            });
        }

        $('[id^=id_categoria]').each(function() {
            initializeSelect2(this, select2Messages.placeholders.id_categoria);
        });

        $('[id^=id_conta]').each(function() {
            initializeSelect2(this, select2Messages.placeholders.id_conta);
        });

        $('[id^=id_centro_custo_lucro]').each(function() {
            initializeSelect2(this, select2Messages.placeholders.id_centro_custo_lucro);
        });

        $('[id^=id_forma_pagamento]').each(function() {
            initializeSelect2(this, select2Messages.placeholders.id_forma_pagamento);
        });

        $('[id^=id_fornecedor_cliente]').each(function() {
            initializeSelect2(this, select2Messages.placeholders.id_fornecedor_cliente);
        });

        $('[id^=id_categoria], [id^=id_conta], [id^=id_centro_custo_lucro], [id^=id_forma_pagamento], [id^=id_fornecedor_cliente]').on('input', function() {
            $(this).select2('open');
        });
    });
</script>


{% endblock scripts %}

