{% extends 'base.html' %}
{% load static %}
{% block conteudo %}

<!-- Começa o conteúdo da página -->

<main role="main" class="flex-shrink-0">
    <div class="container">
        <div class="py-5 text-left">
            <h5 class="mt-4">{{titulo}}</h5>
        </div>
<div class="row">

    {% include "botoes_lancamento.html" %}

<hr class="mb-2">
<h4 class="mb-3 {{ cor }}">{{ tipo }}</h4>
<hr class="mb-2">
<form id="lForm" class="needs-validation" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4 mb-3">
            <fieldset>
                {% for radio in lancamentoForm.situacao %}
                    <label for="{{ radio.id_for_label }}">
                        {{ radio.choice_label }}
                        <span class="radio">{{ radio.tag }}</span>
                    </label>
                {% endfor %}
            </fieldset>
        </div>
        <div class="col-md-2 mb-2">
            <div id="inputField">
                <label for="parcelas">Parcelas</label>
                <input type="number" name="parcelas" id="parcelas" class="form-control">
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="date">Data</label>
            {{ lancamentoForm.data_lancamento }}
        </div>
        <div class="col-md-3 mb-3">
            <label for="conta">Conta</label>
            {{ lancamentoForm.conta }}
            <div class="invalid-feedback">
                Por favor, escolha uma conta.
            </div>
        </div>
    </div>

    <hr class="mb-1">

    <div class="row">
        <div class="col-md-9 mb-3">
            <label for="descricao">Item</label>
            {{ itemForm.descricao }}
            <div class="invalid-feedback">
                Por favor, insira uma descrição.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="valor">Valor R$</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">{{ simbolo }}</span>
                </div>
                {{ itemForm.valor }}
                <div class="invalid-feedback">
                    Por favor, insira um valor.
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-4">
            <label for="categoria">Categoria</label>
            {{ itemForm.categoria }}
            <div class="invalid-feedback">
                Por favor, escolha uma categoria válida.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="centro">Centro custo / Lucro</label>
            {{ itemForm.centro_custo_lucro }}
            <div class="invalid-feedback">
                Por favor, insira um valor válido.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="estado">Forma pagamento</label>
            {{ itemForm.forma_pagamento }}
            <div class="invalid-feedback">
                Por favor, insira uma forma de pagamento válida.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="estado">Fornecedor</label>
            {{ itemForm.fornecedor_cliente }}
            <div class="invalid-feedback">
                Por favor, insira um fornecedor válido.
            </div>
        </div>
    </div>

    <hr class="mb-2">

    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="observacoes">Observações</label>
            {{ lancamentoForm.observacoes }}
        </div>
        <div class="col-md-6 mb-3">
            {{ lancamentoForm.tipo }}
        </div>
    </div>
    <hr class="mb-4">
    <div class="row">
        <div class="col-md-2 mb-2">
            <button class="btn btn-primary btn-md btn-block" type="submit">Gravar</button>
        </div>
    </div>
    <br>
</form>
</div>
{% endblock conteudo %}
