{% extends 'base.html' %}
{% load static %}


{% block conteudo %}

<br>
<br>
<div class="container py-5">
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">Saldo Contas</div>
        <div class="card-body">
            <h5 class="card-title">Título especial</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Virtutis, magnitudinis animi, patientiae, fortitudinis fomentis dolor mitigari solet. Ut placet, inquit, etsi enim illud erat aptius, aequum cuique concedere. Nihilo beatiorem esse Metellum quam Regulum. Quod autem in homine praestantissimum atque optimum est, id deseruit. </p>
            <p>A primo, ut opinor, animantium ortu petitur origo summi boni. <mark>Si quidem, inquit, tollerem, sed relinquo.</mark> <b>Eaedem res maneant alio modo.</b> Qua igitur re ab deo vincitur, si aeternitate non vincitur? At enim hic etiam dolore. <a href="http://loripsum.net/" target="_blank">Bonum integritas corporis: misera debilitas.</a> </p>
          <a href="#" class="btn btn-primary">Visitar</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">Contas a Pagar</div>
        <div class="card-body">
            <h5 class="card-title">Título especial</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Virtutis, magnitudinis animi, patientiae, fortitudinis fomentis dolor mitigari solet. Ut placet, inquit, etsi enim illud erat aptius, aequum cuique concedere. Nihilo beatiorem esse Metellum quam Regulum. Quod autem in homine praestantissimum atque optimum est, id deseruit. </p>
            <p>A primo, ut opinor, animantium ortu petitur origo summi boni. <mark>Si quidem, inquit, tollerem, sed relinquo.</mark> <b>Eaedem res maneant alio modo.</b> Qua igitur re ab deo vincitur, si aeternitate non vincitur? At enim hic etiam dolore. <a href="http://loripsum.net/" target="_blank">Bonum integritas corporis: misera debilitas.</a> </p>
          <a href="#" class="btn btn-primary">Visitar</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}