{% extends 'base.html' %}
{% load static %}


{% block conteudo %}

<br>
<br>
<div class="container py-5">
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">Cabeçalho</div>
        <div class="card-body">
          <h5 class="card-title">Título especial</h5>
          <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
          <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
          <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
          <a href="#" class="btn btn-primary">Visitar</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">Cabeçalho</div>
        <div class="card-body">
          <h5 class="card-title">Título especial</h5>
          <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
          <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
          <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
          <a href="#" class="btn btn-primary">Visitar</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}