{% extends 'base.html' %}
{% load static %}
{% load currency_filters %}


{% block conteudo %}

<br>
<div class="container-xg py-5">
    <div class="col-12">
        <form method="GET" action=".">
            <div class="row justify-content-end">
                <div class="col-8 col-md-2 mb-3">
                    <select class="form-control" name="data_ano" id="data_ano">
                        <option value="">Escolha um ano</option>
                        <option value="2025">2025</option>
                        <option value="2024">2024</option>
                    </select>
                </div>
                <div class="col-4 col-md-1 mb-1">
                    <button type="submit" class="btn btn-secondary btn btn-block">Filtrar</button>
                </div>
            </div>
        </form>
    </div>
<div class="table-responsive">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>Categoria</th>
                <th>01/{{data_ano}}</th>
                <th>02/{{data_ano}}</th>
                <th>03/{{data_ano}}</th>
                <th>04/{{data_ano}}</th>
                <th>05/{{data_ano}}</th>
                <th>06/{{data_ano}}</th>
                <th>07/{{data_ano}}</th>
                <th>08/{{data_ano}}</th>
                <th>09/{{data_ano}}</th>
                <th>10/{{data_ano}}</th>
                <th>11/{{data_ano}}</th>
                <th>12/{{data_ano}}</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in relatorio %}
            <tr>
                {% if item.e_categoria_pai %}
                <td class="font-weight-bold" >{{ item.descricao }}</td>
                {% else %}
                <td>{{ item.descricao }}</td>
                {% endif %}
                {% for valor in item.valor_mes %}
                    {% if item.e_categoria_pai %}
                    <td class='text-right font-weight-bold'>{{valor.0|currency}}</td>
                    {% else %}
                        <td class='text-right'>
                            <a class='text-dark' href="{% url "fluxo:relatorio_lancamentos" %}?categoria={{item.id}}&data_inicio={{valor.3}}-{{valor.1}}-1&data_fim={{valor.3}}-{{valor.1}}-{{valor.2}}">
                                {{valor.0|currency}} 
                            </a>
                        </td>
                    {% endif %}
                {% endfor %}
                {% if item.e_categoria_pai %}
                    <td class='text-right font-weight-bold'>
                        <a class='text-dark' href="{% url "fluxo:relatorio_lancamentos" %}?categoria={{item.id}}&data_inicio={{valor.3}}-{{valor.1}}-1&data_fim={{valor.3}}-{{valor.1}}-{{valor.2}}">
                            {{ item.valor_total|currency }}
                        </a>
                    </td>
                {% else %}
                <td class='text-right'>{{ item.valor_total|currency }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock conteudo %}